<html>
	<head>
		<title>View Files</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body class="container jumbotron">
		<form class="form-group" method="post" action="/backup">
			<label class="form-control">Dataset Path: {{ dataset_path }}</label>
			<input class="form-control" type="text" name="dataset_path" value="{{ dataset_path }}" style="display: none;">
			<label class="form-control">Full Backup?</label>
			<input class="form-control" type="checkbox" name="full">
			<input class="form-control" type="submit">
		</form>
	</body>
</html>